

a, p{
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

h1, h2{
  font-family: 'Times New Roman', Times, serif;

}
h3,h4{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}



h2{
  color:   #b2010a
}

html {
  scroll-behavior: smooth;
 }




*{
padding: 0;
margin: 0;
letter-spacing: 1px;
}


hr{
margin-top: 50px;

}

body{
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;

}

.bold{
font-weight: bold;
} 
.bold_color{
color:   #b2010a
}

.bold2{
  font-weight: bold;
color:  #b2010a

}


header{
  width: 100%;
  height: 100%;
  box-shadow: 1px 1px  #d9d9d9;


}



#navbar li{
  display: inline-block;
  font-weight: bold;
}

#navbar a{
  font-family: Arial;
  text-decoration: none;

}

#navbar{
  height: 55px;
}


.selected{
color: #b2010a;
}

.notSelected{
  color:black;
}



#caption{
position: absolute;

font-family: Arial;
width: 80%;
height: auto;
top: 30%;

}


#caption_h1{
font-weight: bolder;
color:   #fa4049;
}

#caption_h3{
color: black;
margin-top: 2%;
margin-bottom: 5%;
}



#caption_button{
padding: 2%;

background-color:#b2010a ;
color: white;
}

#caption_button:hover{
background-color:white ;
color: black;
}

.welcome {
  color :black;
}

.music{

  background-position: top left;
}



.art img{
  width: 100%;
  height: 900px;

}






#header-image{
  width: 100%;
  height: 100%;
  mix-blend-mode:hard-light;

}

#blog-image{
  width:100%;
}


.description {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  line-height: 25px;
}



.comments{

width: 90%;
margin-left: 5%;
height: 100%;
padding-bottom: 5%;
background-color:  rgba(251,238,230,1) ;
padding-top:5%;padding-bottom:5%;
text-align: center;


}
.comments div{
margin-top: 2%;
}
#comment_button{
background-color:#b2010a ;

  padding: 2%;
  width: 30%;
  color: white;
  border: none;
}

#comment_button:hover{
  background-color: ghostwhite;
  color:black;
  cursor: pointer;

}






.pocket{
  position: absolute;
  width: 100%;
  height: 180px;
  top: 10%;
  left: 10%;
  overflow: hidden;
  opacity: .2;
}





.text {
  font-weight: bold;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.content{
margin-top: 6%;
margin-left: 5%;
width: 90%;

}
.content p, .content li{
color: black;
}


.counter {
width: 100%;
margin-top: 50px;
margin-bottom: 2%;
display: flex;
flex-direction: row;
}

textarea{
  width: 90%;
  height:100px;
  font-family: Arial, Helvetica, sans-serif;
}
input{
   width: 50%;
  height:20px;
}

.cont1{

width: 35%;
height: auto;
margin-right: 2%;
}

.cont2{
width: 30%;
height:auto;
}
.cont2 img{
width: 300px;
height:auto;
}

.cont2, .cont1{
float: left;
}




.art-cont{
width: 100%;
margin-top: 2%;
margin-bottom: 5%;
margin-right: 2%;
display: flex;
flex-direction: row;

}
.art-cont img{
width: 47%;
height: 500px;
margin-right:2%;
}

.art-cont p{
width: 50%;
}



.hiddenError{
  display: none;
  visibility: hidden;
  background-color: #ff8080;
}



.message{
  color: white;

  text-align:center;
}





#navbar{
  display: none;
}




/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;

}

#drop-icon{
  width:5%;
}


/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;

  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
















footer{
margin-top: 5;
width: 100%;
height: 100px;
/* background: linear-gradient(90deg, rgba(234,166,123,1) 0%, rgba(243,205,181,1) 67%, rgba(251,238,230,1) 100%); */
  background-color: white;
  border-top: 1px black solid;

}

footer p{
width: 100%;
margin-top:1%;

}



