@media  (min-width: 1000px) {

*{
padding: 0;
margin: 0;
letter-spacing: 1px;
}



h1{
  font-size: 5rem;
}

p,li{
  font-size: 1rem;
}



a{
  font-size:0.8rem;
}

h2{
  font-size: 3rem;
  
}
h3{
    font-size: 2rem;

}
h4{
   font-size: 2rem;
}

hr{
margin-top: 50px;

}


#navbar{
    display: block;
}


.dropdown{
    display: none;
}

#navbar li{
  display: inline-block;
   float: right;

  font-weight: bold;
  margin-right: 5%;
  height: 38px;;
  margin-top: 18px;
}




#navbar a{
  font-family: Arial;
  text-decoration: none;
 

}

.horizontal-spacer{
  width: 5%;
  height: 100%;
  display:inline-block;
  background-color: rgb(0, 0, 0);
}



#caption{
position: absolute;
width: auto;
padding: 5%;;
top: 30%;
left:2%;

}

#caption h1{
font-size: 4rem;
}

#caption p{
  font-size: 2rem;
}





.music{

  background-position: top left;
}



.art img{
  width: 100%;
  height: 900px;

}






#header-image{
  width: 100%;
  height: 100%;
  mix-blend-mode:hard-light;

}

#blog-image{
  width:40%;
  height: auto;
  vertical-align:top;
}



.description {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  line-height: 25px;
}



.comments{

width: 50%;
height: 100%;
padding: 2%;
margin-left: 25%;
background-color:  rgba(251,238,230,1) ;
margin-top: 5%;
text-align: center;


}
.comments div{
margin-top: 2%;
}
#comment_button{
background-color:#b2010a ;

  padding: 2%;
  width: 30%;
  color: white;
  border: none;
}

#comment_button:hover{
  background-color: ghostwhite;
  color:black;
  cursor: pointer;

}






.pocket{
  position: absolute;
  width: 80%;
  height: 180px;
  top: 10%;
  left: 10%;
  overflow: hidden;
  opacity: .2;
}





.text {
  font-weight: bold;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.content{
margin-top: 6%;
margin-left: 10%;
margin-right: 10%;
width: 80%;


}
.content p, .content li{
color: black;

}




.playlist {
  width: 100%;
}

.playlist img, .playlist_text{
    display: inline-block;

}


.playlist_text{
  vertical-align: top;
width: 40%;
margin-top: 0%;
margin-bottom: 0%;

}

.playlist img{
width: 40%;
height:auto;
margin-right: 5%;
}






.art-cont{
width: 100%;
display: flex;
flex-wrap: wrap;


vertical-align: top;
/* margin-top: 2%; */
/* margin-bottom: 5%; */
margin-right: 2%;


}
.art-cont img{
width: 100%;
height: auto;
margin-right:2%;
}

.art-cont p{
width: 50%;
margin-bottom: 2%;
}



.hiddenError{
  display: none;
  visibility: hidden;
  background-color: #ff8080;
}



.message{
  color: white;

  text-align:center;
}





footer{

float: left;
width: 100%;

}

footer p{
width: 50%;
margin-top:1%;
margin-left: 1%;
}

}


.submit{
width: 90%;
margin-left: 5%;
height: 1000px;
background-image: url(/images/girl2.jpeg);
background-size: cover;
background-repeat: no-repeat;
}

.submit p{
 
  width: 80%;
  padding: 5%;
  background-color:  rgba(251,238,230,1) ;
  vertical-align: auto;


}