@media(min-width: 480px) and (max-width: 800px){

#caption{
width: 80%;
top: 11%;
left: 5%;
}


#caption h1{
font-size: 3rem;
}


}

@media(min-width: 801px) and (max-width: 999px){

#caption{
width: auto;
top: 30%;
left: 5%;
}


#caption h1{
font-size: 3rem;
}


}